.ag-theme-alpine {
    --ag-header-foreground-color: black;
    --ag-header-background-color: rgba(240, 124, 0, 0);
    --ag-border-color: transparent;
    --ag-row-border: 2px solid var(--primary);
    --ag-background-color: white;
    --ag-row-hover-color: white;
    --ag-input-border: 2px solid var(--primary);
}

.ag-theme-alpine .ag-header-cell-resize {
    background-color: var(--primary);
    width: 2px;
    height: 15px;
    right: 0;
    top: 31%;
    bottom: 20%;
    opacity: 1;
}

.ag-theme-alpine .ag-paging-panel {
    border: 2px solid rgb(236, 233, 233);
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    padding: 4px;
}



.ag-checkbox-input-wrapper.ag-checked {
    background-color: var(--primary) !important;

    border-color: var(--primary) !important;
}

.ag-checkbox-input-wrapper:focus-within {
    border-color: var(--primary);
    box-shadow: 0 0 0 2px var(--primary);
}

.ag-checkbox-input-wrapper:focus-within .ag-icon-checkbox-checked,
.ag-checkbox-input-wrapper:focus-within .ag-icon-checkbox-unchecked {
    color: var(--primary);
}