<div
    class="sticky flex justify-between top-0 inset-x-0 z-20 mt-6 mx-6 bg-white border-y border-gray-200 px-4 sm:px-6 lg:px-8 ">
    <div class="flex items-center py-2">
        <!-- Navigation Toggle -->
        <button type="button"
            class="size-8 flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-hidden focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-application-sidebar"
            aria-label="Toggle navigation" data-hs-overlay="#hs-application-sidebar">
            <span class="sr-only">Toggle Navigation</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect width="18" height="18" x="3" y="3" rx="2" />
                <path d="M15 3v18" />
                <path d="m8 9 3 3-3 3" />
            </svg>
        </button>
        <!-- End Navigation Toggle -->

        <!-- Breadcrumb -->
        <ol class="ms-3 flex items-center whitespace-nowrap">
            <li class="flex items-center text-sm text-gray-800">
                Application Layout
                <svg class="shrink-0 mx-3 overflow-visible size-2.5 text-gray-400" width="16" height="16"
                    viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
            </li>
            <li class="text-sm font-semibold text-gray-800 truncate" aria-current="page">
                Dashboard
            </li>
        </ol>
        <!-- End Breadcrumb -->
    </div>
    <div class="flex items-center py-2 gap-3">
        <!-- Navigation Toggle -->

        {{#if user}}
        <button command="show-modal" commandfor="dialog"
            class="h-8 px-3 text-sm hover:text-secondary hover:bg-primary hover:cursor-pointer hover:shadow-xl flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-hidden hover:focus:text-secondary focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-application-sidebar"
            aria-label="Toggle navigation" data-hs-overlay="#hs-application-sidebar">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4">
                <path
                    d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
            </svg>

            Add
        </button>
        <a href="/auth/sign-out"
            class="h-8 px-3 text-sm hover:text-secondary hover:bg-primary hover:cursor-pointer hover:shadow-xl flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-hidden focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-application-sidebar"
            aria-label="Toggle navigation" data-hs-overlay="#hs-application-sidebar">


            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>

            Sign Out
        </a>
        {{else}}
        <a href="/auth/sign-in"
            class="h-8 px-3 text-sm hover:text-secondary hover:bg-primary hover:cursor-pointer hover:shadow-xl flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-hidden focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
            aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-application-sidebar"
            aria-label="Toggle navigation" data-hs-overlay="#hs-application-sidebar">


            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
            Sign In
        </a>
        {{/if}}
    </div>
</div>


<!-- Content -->
<div class="">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6 ">



        <a href="#" class="component-card group block">
            <div
                class="bg-gray-50 rounded-2xl h-[225px]  overflow-hidden border border-gray-200 group-hover:border-2 group-hover:border-primary group-hover:shadow-xl">
                <div class="card-image h-[70%] bg-gray-100  px-10 pt-5 shadow-2xl shadow-white  border border-gray-100">
                    <div class="space-y-3 bg-white p-3 rounded-t-xl ">
                        <div class="flex items-center space-x-1 mb-4">
                            <div class="w-2 h-2 rounded-full bg-gray-300"></div>
                            <div class="w-2 h-2 rounded-full bg-gray-300"></div>
                            <div class="w-2 h-2 rounded-full bg-gray-300"></div>
                        </div>
                        <div class="space-y-2">
                            <div class="text-xs text-gray-500">Start your journey</div>
                            <div class="text-xs text-gray-500">with <span
                                    class="text-primary font-semibold">Preline</span></div>
                            <div class="inline-block bg-primary rounded px-2 py-1 text-white text-xs mt-2">Button</div>
                            <div class="flex items-center space-x-1 mt-2">
                                <div class="w-1 h-1 rounded-full bg-gray-800"></div>
                                <div class="w-1 h-1 rounded-full bg-gray-800"></div>
                                <div class="w-1 h-1 rounded-full bg-gray-800"></div>
                                <div class="w-1 h-1 rounded-full bg-gray-800"></div>
                                <div class="w-1 h-1 rounded-full bg-gray-800"></div>
                            </div>
                            <div class="flex space-x-2 mt-2">
                                <div class="h-1 bg-gray-200 rounded flex-1"></div>
                                <div class="h-1 bg-gray-200 rounded flex-1"></div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="flex items-center h-[30%] justify-between bg-white p-4">
                    <div>
                        <div class="flex items-center gap-2 mb-1">
                            <h4 class="font-semibold text-primary text-sm group-hover:text-primary transition">Hero
                                Sections
                            </h4>
                            <span class="bg-secondary text-primary text-xs px-2 py-0.5 rounded-full font-medium">+1
                                NEW</span>
                        </div>
                        <p class="text-sm text-gray-500">11 components</p>
                    </div>
                </div>
            </div>
        </a>



    </div>
</div>


{{!-- Modals --}}


<el-dialog>
    <dialog id="dialog" aria-labelledby="dialog-title"
        class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
        <el-dialog-backdrop
            class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>

        <div tabindex="0"
            class="flex min-h-full  items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
            <el-dialog-panel
                class="relative transform w-[80%] overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8  data-closed:sm:translate-y-0 data-closed:sm:scale-95">
                <div class=" h-[600px] flex flex-col">



                    <!-- Editor and Preview -->
                    <div class="flex-1 flex min-h-0">
                        <!-- Editor Panel -->
                        <div class="flex-1 flex w-1/3 flex-col bg-primary border-r border-gray-800">
                            <div
                                class="flex items-center justify-between px-6 py-3 bg-primary/50 border-b border-gray-800">
                                <div class="flex items-center gap-2">
                                    <span class="text-sm font-medium text-gray-400">index.html</span>
                                    <div class="w-1.5 h-1.5 bg-blue-500 rounded-full"></div>
                                </div>
                                <span class="text-xs text-gray-600 font-mono">HTML</span>
                            </div>
                            <textarea id="htmlEditor" name="htmlEditor"
                                class="flex-1 w-full p-6 bg-primary text-green-500 focus:outline-none resize-none code-editor text-sm editor-scrollbar"
                                placeholder="<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
  </head>
  <body>
    
  </body>
</html>" spellcheck="false" oninput="handleChangeEditor(event)"></textarea>
                        </div>

                        <!-- Preview Panel s-->
                        <div class="flex-1 w-1/3 flex flex-col bg-gray-950 relative">
                            <div
                                class="flex items-center justify-between px-6 py-3 bg-primary/50 border-b border-gray-800">
                                <div class="flex items-center gap-2">
                                    <span class="text-sm font-medium text-gray-400">Preview</span>
                                </div>
                                <div class="flex items-center gap-2">
                                    {{!-- <div class="flex items-center gap-1.5 px-3 py-1 bg-gray-800 rounded-md">
                                        <div class="w-2 h-2 bg-emerald-500 rounded-full animate-pulse"></div>
                                        <span class="text-xs text-gray-500">Live</span>
                                    </div> --}}
                                    <div id="movementButton" onclick="handleMovement()"
                                        class="hover:bg-white bg-slate-200 hover:text-black hover:cursor-pointer text-primary p-1 rounded-md">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-4">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002" />
                                        </svg>
                                    </div>

                                    <div onclick="clearEditor()"
                                        class="hover:bg-white hover:text-black hover:cursor-pointer text-secondary p-1 rounded-md">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-4 ">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                                        </svg>
                                    </div>

                                    <div
                                        class="hover:bg-white hover:text-black hover:cursor-pointer  text-secondary p-1 rounded-md">

                                        <label class=" select-none hover:cursor-pointer">

                                            <!-- Hidden checkbox -->
                                            <input type="checkbox" onchange="handleDisplaySize(event)"
                                                class="peer sr-only">


                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor"
                                                class="size-4 block peer-checked:hidden">

                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor"
                                                class="size-4 hidden peer-checked:block">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                                            </svg>
                                        </label>

                                    </div>

                                    <div onclick="togglePreviewFullscreen()"
                                        class="hover:bg-white hover:text-black hover:cursor-pointer text-secondary p-1 rounded-md">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-4 ">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                                        </svg>

                                    </div>


                                </div>
                            </div>

                            <style id="previewPointerStyle">
                                #preview:hover * {
                                    pointer-events: none;
                                }
                            </style>
                            <style>
                                .grid-bg {

                                    background-color: white;
                                    background-image:
                                        linear-gradient(#ddd 0.5px, transparent 0.5px),
                                        linear-gradient(90deg, #ddd 0.5px, transparent 0.5px),
                                        linear-gradient(#aaa 1px, transparent 1px),
                                        linear-gradient(90deg, #aaa 1px, transparent 1px);

                                    background-size:
                                        20px 20px,
                                        20px 20px,
                                        100px 100px,
                                        100px 100px;
                                }
                            </style>

                            <div id="preview-wrapper"
                                class="grid-bg preview-wrapper bg-white  w-full overflow-auto h-full">
                                <div id="fullScreenTools"
                                    class="flex items-center sticky hidden gap-2 bg-black w-fit p-2 rounded-xl m-4  z-50">


                                    <div id="movementButton2" onclick="handleMovement()"
                                        class="hover:bg-white bg-slate-200 hover:text-black hover:cursor-pointer text-primary p-1 rounded-md">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002" />
                                        </svg>
                                    </div>



                                    <div
                                        class="hover:bg-white hover:text-black hover:cursor-pointer  text-secondary p-1 rounded-md">

                                        <label class=" select-none hover:cursor-pointer">

                                            <!-- Hidden checkbox -->
                                            <input type="checkbox" onchange="handleDisplaySize(event)"
                                                class="peer sr-only">


                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor"
                                                class="size-6 block peer-checked:hidden">

                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                            </svg>

                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor"
                                                class="size-6 hidden peer-checked:block">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                                            </svg>
                                        </label>

                                    </div>

                                    <div onclick="togglePreviewFullscreen()"
                                        class="hover:bg-white hover:text-black hover:cursor-pointer text-secondary p-1 rounded-md">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 9V4.5M9 9H4.5M9 9 3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5 5.25 5.25" />
                                        </svg>
                                    </div>


                                </div>
                                <div id="preview"
                                    class="flex-1 w-fit p-1 hover:border-2   border-2 relative border-dashed hover:border-black bg-white  ">
                                </div>
                            </div>

                        </div>
                        <!-- Preview Panel e-->

                        <div class="flex-1 w-1/3 flex flex-col bg-gray-950 relative">
                            <div
                                class="flex items-center justify-between px-6 py-3 bg-primary/50 border-b border-gray-800">
                                <div class="flex items-center gap-2">
                                    <span class="text-sm font-medium text-gray-400">Details</span>
                                </div>

                            </div>

                            <div class="flex flex-col p-4">
                                <div>
                                    <label for="title" class="text-secondary font-semibold p-1">Title</label>
                                    <input type="text" id="title" name="title" placeholder="Header"
                                        class="w-full px-4 mt-2 py-3.5 text-gray-900 placeholder-gray-300 bg-white border-b-2 border-gray-200  focus:border-amber-500 focus:outline-none transition-colors"
                                        required>
                                </div>
                            </div>

                            <div class="flex flex-col p-4">
                                <div>
                                    <label for="title" class="text-secondary font-semibold p-1">Category</label>
                                    <input type="text" id="title" name="title" placeholder="Header"
                                        class="w-full px-4 mt-2 py-3.5 text-gray-900 placeholder-gray-300 bg-white border-b-2 border-gray-200  focus:border-amber-500 focus:outline-none transition-colors"
                                        required>
                                </div>
                            </div>

                            <div class="flex flex-col p-4">
                                <div>
                                    <label for="title" class="text-secondary font-semibold p-1">Description</label>
                                    <input type="text" id="title" name="title" placeholder="Header"
                                        class="w-full px-4 mt-2 py-3.5 text-gray-900 placeholder-gray-300 bg-white border-b-2 border-gray-200  focus:border-amber-500 focus:outline-none transition-colors"
                                        required>
                                </div>
                            </div>

                        </div>
                        <div class="bg-white rounded-xl flex justify-end m-2 absolute right-0 bottom-0">
                            <div
                                class=" border border-primary  w-fit p-1 gap-2 flex items-center justify-center rounded-xl">


                                <button type="button" command="close" commandfor="dialog"
                                    class="p-1 hover:bg-slate-200 rounded-md hover:cursor-pointer">
                                    Cancel
                                </button>

                                <div>|</div>

                                <div class="p-1  hover:bg-slate-200 rounded-md hover:cursor-pointer">
                                    Next
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </el-dialog-panel>
        </div>
    </dialog>
</el-dialog>

<script src="/public/js/home.js"></script>